# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VS Code / IDE
.vscode/
.idea/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
test_*.py
tests/
arch/

# Build / Distribution
*.egg-info/
dist/
build/

# Type checking / Linting cache
.mypy_cache/

# HTML (кроме шаблона уведомлений)
*.htm
*.html
!error_notification.html

# Logs
log/
*.log

# Text files (кроме requirements)
*.txt
!requirements.txt

# Binaries and configs (не в репозитории)
*.exe
*.json