# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# VS Code
.vscode/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
test*.py
*.htm
*.html
log/
!error_notification.html

# logs
*.log
*.txt
!requirements.txt
*.exe
*.json