cffi==2.0.0
chardet==5.2.0
cryptography==46.0.3
flake8==7.3.0
mccabe==0.7.0
oracledb==3.4.1
psycopg2==2.9.10
pycodestyle==2.14.0
pycparser==2.23
pyflakes==3.4.0
pymssql==2.3.10
pywin32==311
typing_extensions==4.15.0
